<% flash.each do |name, msg| %>
  <% if msg.present? %>
    <p class="l-ui-notice <%= case name
      when 'notice' then "l-ui-notice--success"
      when 'error' then "l-ui-notice--error"
      else "l-ui-notice--warning"
    end %>" id="<%= name %>">
      <%= msg %>
    </p>
  <% end %>
<% end %>
