<% if item.errors.any? %>
  <div id="error_explanation" class="l-ui-form__errors">
    <h2>
      <%= pluralize(item.errors.count, "error") %> were found:
    </h2>

    <ul class="l-ui-form__errors-list">
      <% item.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
