<% name ||= nil %>

<%= form.label field, class: "label" do %>
  <% if name.present? %>
    <%= name %>
  <% else %>
    <%= field.to_s.humanize %>
  <% end %>
  <% if required %>
    <span class="l-ui-form__required">*</span>
  <% end %>
<% end %>
